<!DOCTYPE html>
<html lang="ja">
<head>
    <title>問題作成Tool</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./static/js/jquery.js"></script>
    <script src="./static/js/jquery.cookie.js"></script>
</head>
<body>
    <div class="header">
        <div>応用情報</div>
    </div>

    <div>
        <div>{{ category }}</div>
    </div>
</body>
</html>